@model IEnumerable<VehicleListingSystem.Models.VehicleVM>
<div id="filter-options-list">
<select id="manufacturer">
    <option >All Manufacturers</option>
    @{
        var manuArray=new List<string>();
        foreach (var item in Model)
        {
            if (manuArray.Contains(item.Manufacturer))
            {
                continue;
            }
            manuArray.Add(item.Manufacturer);
            
            <option> @item.Manufacturer</option>
        }
    }
</select>
<div id="model-options">
        
</div>
</div>
<p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
<div id="slider-range" ></div>

<input type="button"id="filter-criteria" value="Filter"/>



