* {
margin: 0;
}
html, body {
height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.list-vehicles {
    background-color: #CCCCCC;
    padding: 5%;
}
img {
    width: 63% !important;
    height: 300px !important;
    border: 5px solid rgba(255,255,255,1);
}
.table {
    border: 1px solid white;
}
h2 {
    text-align: center;
    background-color: orange;
    
}
.footer {
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #222222;
    border-color: #080808;
    height: 4em;
}
a.vehicle-name {
    text-decoration: none;
    color: orange;
    font-weight: bold;

}
td,th {
    font-weight: bold;
    font-size: 130%;
    text-align: center;
}
a.vehicle-name:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;

}
div.container {
    background-color: #CCCCCC;
    margin: 1%;
    margin-left: 6%;
    margin-right: 5%;
}
#slider-range {
    width: 70%;
    display: inline-block;
}
input[id="amount"] {

  background-color : #CCCCCC; 

}
#filters-div {
    float: left;
    width: 30%;

    
}
#vehicle-content {
    float: right;
    width: 70%;


}
div#model-options {
    margin-top: 10px;
}
h3.details {
    display: inline;
    padding: 10%;
    text-align: center;
}
span.details-container {
    margin: 7%;
}
input#filter-criteria {
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
    text-shadow: #FE6 0 1px 0;
    display: block;
}
div#filter-options-list {
    margin-top: 5%;
    margin-bottom: 5%;
}


